.blog-card {
    background-color: #2c2c2c;
    padding: 10px;
    display: flex;
    position: relative;
    border-radius: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: .4s;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
    letter-spacing: .5px;

    &:hover{
        transform: scale(1.02);
        box-shadow: 0 6px 10px rgba(0, 0, 0, 0.85);
    }
  
    img {
      width: 30%;
      height: 250px;
      object-fit: cover;
      border-radius: 10px;
      box-shadow: 0 6px 10px rgba(0, 0, 0, 0.50);
    }
  
    .card-content {
      width: 70%;
      padding: 0 20px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
  
      h3 {
        color: #cacaca;
        margin-bottom: 10px;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 2px;
      }
  
      p {
        color: #bbb;
        margin-bottom: 8px;
      }
      

      .card-stats {
        display: flex;
        color: #888;
        gap: 10px;
  
        span {
          font-size: 14px;
          margin-right: 10px;
        }
      }
    }
  }
  