.navbar{
    display: flex;
    justify-content: space-between;
    background-color: #2c2c2c;
    color: #B7B7B7;
    padding: 0 10px 5px 10px;
    flex-wrap: wrap;
    height: 80px;
    
    .logo-search {
        display: flex;
        gap: 20px;
        align-items: center;

        img {
            width: 60px;
            height: 60px;
            object-fit: cover;
        }

        input{
            padding: 6px;
            border-radius: 3px;
            border: 1px #1c1c1c;

            &:focus{
                border: none;
            }

            &::placeholder{
                color: #1c1c1c;
                font-weight: 500;
                font-size: smaller;
                font-family: "Poppins", sans-serif;
            }
        }
    }
    
}

.nav-items{
    display: flex;
    gap: 20px;
    align-items: center;
    position: relative;

    .btn-write, .btn-notification{
        margin: 0 auto;
        cursor: pointer;
        transition: .5s;
        font-size: small;

        svg{
            margin-top: 10px;
        }

        &:hover{
            color: white;
        }
    }
    
    .btn-write{
        display: flex;
        align-items: center;

        svg{
            margin-right: 5px;
        }
    }

    .profile-photo{
        cursor: pointer;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        object-fit: cover;

        &:hover{
            box-shadow: 2px 3px 10px .3px #B7B7B7;
        }
    }

    .dropdown{
        display: none;

        &.open{
            display: block;
            position: absolute;
            background-color: #2c2c2c;
            border-radius: 7px;
            right: 5px;
            top: 85px;
            z-index: 10;
            width: 200px;
            box-shadow: 0 0 10px -6px #B7B7B7;
        }

        ul{
            padding: 10px;
            margin: 0;
            list-style: none;
            
            hr{
                border-color: #1c1c1c;
            }

            li{
                margin-bottom: 10px;
                text-align: center;

                a{
                    text-decoration: none;
                    color: #B7B7B7;
                    display: flex;
                    align-items: center;
                    margin-left: 5px;
                    
                    svg{
                        margin-right: 10px;
                    }

                    &:hover{
                        color: white;
                    }
                }
            }
        }
    }
}
